html {
	font-family: Helvetica; 
	text-align: center;
	vertical-align: center;
	margin: 0px auto; 
	display: inline-block; 
	}
body {
	margin-top: 50px;
	}
h4 {
	font-size: 12px;
	text-align: center;
	vertical-align: center;
	margin: 5px; 
	color: black; 
	}
p {
	font-size: 12px;
	text-align: center;
	vertical-align: center;
	margin: 5px;
	color: black;
	}	
	
table {
	margin: auto; 
	padding: 10px;
	border-collapse: collapse;
	}
.innertable {
	tr:nth-child(even) {background-color: #f2f2f2;};
	width: 100%;
	}
.outertable {
	border: 1px solid #808080;
	padding: 10px;
	}
.silenttable {
	border: none;
	width: 100%;
	}

th 	{
	font-size: 13px;
	text-align: center;
	vertical-align: center;
	margin: 5px; 
	padding: 5px;
	color: black;
	border: 2px solid #8080FF;
	background-color: #BAC8F5;
	}
td 	{
	font-size: 12px;
	text-align: center;
	vertical-align: center;
	margin: 5px; 
	padding: 5px;
	border: 2px solid #8080FF; 
	}
.innertd {
	}
.outertd {
	border: 1px solid #808080;
	}
.silenttd {
	border: none;
	}
.tdrot {
	text-orientation: mixed;
	writing-mode: vertical-rl;
	width: 20px;
	border: 2px solid #8080FF;
	background-color: #BAC8F5;
	}	

select {
	width: 80%;
	padding: 4px;
	border: 2px solid #8080FF;
	border-radius: 4px;
	}
input {
	width: 80%;
	padding: 4px;
	border: 2px solid #8080FF;
	border-radius: 4px;
	}
input[type=submit] {
    width: 50%;
	}
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	}
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	}
input[type=number] {
	-moz-appearance: textfield;
	}
	
a:link, a:visited {
	font-style: bold;
	font-size:13px;
	text-align: center;
	vertical-align: center;
	text-decoration: none;
	margin: 5px;
	padding: 5px;
	color: black;
	background-color: #BAC8F5;
	border: 2px solid #8080FF;
	border-radius: 4px;
	}
a:hover, a:active {
	background-color: #8080FF;
}